@import 'styles.scss';

.about {
  height: 100%;
  background-color: $background-color;
  margin: 0;
  padding: 0;

  .nav-container {
    position: relative;
    margin-top: 1em;

    a {
      color: $black-text;
      text-decoration: none;
    }
    a:hover {
      color: $link-hover;
      text-decoration: none;
    }
    .me {
      color: $black-text;
      font-size: 1.3em;
      letter-spacing: 0.1em;
      //h1 {
      //  font-size: 3em;
      //  letter-spacing: 0.1em;
      //}
    }

    .nav-links {
      position: relative;
      font-size: .5em;
      letter-spacing: 0.2em;
    }
  }

  .content-container {
    .about-text {
      float: left;
      width: 30%;
      text-align: justify;
      text-justify: inter-word;
      padding: 6% 0 0 20%;
      font-size: .4em;

      //p {
      //  font-size: 1em;
      //}

      a {
        color: $black-text;
      }

      a:hover {
        color: $link-hover;
        text-decoration: none;
      }
    }

    .about-pic {
      padding: 6% 20% 0 0;
      width: 25%;
      content: url($img-link-base + 'me.jpg');
      display: block;
      float: right;
    }
    .caption {
      font-size: .5em;
    }
  }
}
