@import 'styles.scss';

$footer-height: 60px;

.splash {
  height: 100%;
  background-color: $background-color;
  margin: 0;
  padding: 0;

  .container {
    position: relative;
    a {
      color: $black-text;
    }

    a:hover {
      color: $link-hover;
      text-decoration: none;
    }

    h1 {
      font-size: 4em;
      margin-top: 15%;
      color: $black-text;
      text-align: center;
      letter-spacing: 0.1em;
    }

    .nav-links {
      font-size: 1rem;
      letter-spacing: .2rem;
      margin-top: 20px;
      position: relative;
      a {
        color: $black-text;
        text-decoration: none;
      }
      a:hover {
        color: $link-hover;
        text-decoration: none;
      }

      .dropdown{
        display: inline-block;
      }
      .dropdown-menu {
        letter-spacing: 0;
      }
      .dropdown:hover>.dropdown-menu {
        //display: inline-block;
        position: absolute;
        transform: translate3d(168px, 22px, 0px);
        top: 0;
        left: 0;
        will-change: transform;
        //transform: translate3d(467px, 59px, 0px);
        //will-change: transform;
        //padding-top: 0.25rem;
        //padding-right: 1.5rem;
        //padding-bottom: 0.25rem;
        //padding-left: 1.5rem;
      }
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #baac9d;
    text-align: center;
    font-size: 0.5em;
    letter-spacing: 0.1em;
  }

}

