@import 'momega-styles.scss';

.momega-container {
  header {
    padding: 154px 0 100px;
  }

  @media (min-width: 900px) {
    header {
      padding: 156px 0 100px;
    }
  }

  section {
    padding: 10px 55px 5px 55px;
  }

  nav {
    background-color: $yellow-color;
  }
  .nav-links {
    li {
      padding: 10px;
    }
    a {
      color: $dark-text;
      text-decoration: none;
    }
    a:hover {
      color: $blue-color;
      text-decoration: none;
    }
  }

  .landing {
    height: 550px;
    max-height: 900px;
    background: url("../momega/photos/homepageBG.jpg");/* no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }

  .hover-container {
    position: relative;
    display: inline-block;

    .img-top {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }
  }
  .hover-container:hover .img-top {
    display: inline;
  }

  .footer-container {
    footer {
      .container {
        padding: 100px;
        background-color: $blue-color;
        p {
          color: $red-color !important;
        }
      }
    }
  }
}

