$dark-text: #344d6a;
$red-color: #e94f4e;
$yellow-color: #fff100;
$blue-color: #496c94;
$orange-color: #f39800;

h1,h2,h3,h4,h5,h6 {
  font-family: 'Dosis', sans-serif;
}

* {
  font-family: 'Titillium Web', sans-serif;
}

