@import 'styles.scss';


.photography {
  height: 100%;
  background-color: $background-color;
  margin: 0;
  padding: 0;

  .nav-brand {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: $black-text;
    text-decoration: none;
  }

  .nav-brand:hover {
    color: $link-hover;
    text-decoration: none;
  }

  .nav-links {
    font-size: 1rem;
    letter-spacing: 1.5px;
    li {
      padding: 10px;
    }

    a {
      color: $black-text;
      text-decoration: none;
    }
    a:hover {
      color: $link-hover;
      text-decoration: none;
    }
  }

  .navbar-toggler {
    border: 0;
  }

  .navbar-toggler-right {
    right: 0;
  }

  #wrapper {
    padding-top: 5%;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    #gallery {
      overflow:hidden;
      a {
        display: block;
        float: left;
        img {
          display: block;
          border: 0;
        }
        img:hover {
          opacity: 0.5;
        }
      }

    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #baac9d;
    text-align: center;
    font-size: 0.75em;
    letter-spacing: 0.1em;
  }
}
