<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- include('_partial/head') %>

  <body>
    <%- include('_partial/body') %>

    <!--Footer-->
    <%- include('_partial/footer-bottom') %>

    <!-- After footer scripts -->
    <%- include('_partial/footer') %>
  </body>
</html>
