
<div class="splash">
    <div class="container">
        <h1>
            <a href="/">Michelle Deng</a>
        </h1>
        <div class="nav-links" align="center">
            <div class="dropdown">
            <a href="about.html">About</a> |
            <a href="src/files/resume.pdf" onclick="window.openWin(href);return false;">Resume</a> |

                <a href="" data-toggle="dropdown" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">Portfolio</a> |
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="https://mddengo.github.io/portfolio">Projects</a>
                    <a class="dropdown-item" href="art.html">Art</a>
                    <a class="dropdown-item" href="photography.html">Photography</a>
                </div>
            </div>
                <a href="contact.html">Contact</a>
        </div>
    </div>