/* line 7, ../sass/momega-styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

/* line 11, ../sass/momega-styles.scss */
* {
  font-family: 'Titillium Web', sans-serif;
}

/* line 4, ../sass/momega.scss */
.momega-container header {
  padding: 154px 0 100px;
}
@media (min-width: 900px) {
  /* line 9, ../sass/momega.scss */
  .momega-container header {
    padding: 156px 0 100px;
  }
}
/* line 14, ../sass/momega.scss */
.momega-container section {
  padding: 10px 55px 5px 55px;
}
/* line 18, ../sass/momega.scss */
.momega-container nav {
  background-color: #fff100;
}
/* line 22, ../sass/momega.scss */
.momega-container .nav-links li {
  padding: 10px;
}
/* line 25, ../sass/momega.scss */
.momega-container .nav-links a {
  color: #344d6a;
  text-decoration: none;
}
/* line 29, ../sass/momega.scss */
.momega-container .nav-links a:hover {
  color: #496c94;
  text-decoration: none;
}
/* line 35, ../sass/momega.scss */
.momega-container .landing {
  height: 550px;
  max-height: 900px;
  background: url("../momega/photos/homepageBG.jpg");
  /* no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 0;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
/* line 48, ../sass/momega.scss */
.momega-container .hover-container {
  position: relative;
  display: inline-block;
}
/* line 52, ../sass/momega.scss */
.momega-container .hover-container .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
/* line 60, ../sass/momega.scss */
.momega-container .hover-container:hover .img-top {
  display: inline;
}
/* line 66, ../sass/momega.scss */
.momega-container .footer-container footer .container {
  padding: 100px;
  background-color: #496c94;
}
/* line 69, ../sass/momega.scss */
.momega-container .footer-container footer .container p {
  color: #e94f4e !important;
}
