@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro");
/* line 8, ../sass/styles.scss */
* {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 12, ../sass/styles.scss */
html, body {
  height: 100%;
  background-color: #fdfff9;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 17, ../sass/styles.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.45;
}

/* line 4, ../sass/photography.scss */
.photography {
  height: 100%;
  background-color: #fdfff9;
  margin: 0;
  padding: 0;
}
/* line 10, ../sass/photography.scss */
.photography .nav-brand {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #222b28;
  text-decoration: none;
}
/* line 17, ../sass/photography.scss */
.photography .nav-brand:hover {
  color: #647eed;
  text-decoration: none;
}
/* line 22, ../sass/photography.scss */
.photography .nav-links {
  font-size: 1rem;
  letter-spacing: 1.5px;
}
/* line 25, ../sass/photography.scss */
.photography .nav-links li {
  padding: 10px;
}
/* line 29, ../sass/photography.scss */
.photography .nav-links a {
  color: #222b28;
  text-decoration: none;
}
/* line 33, ../sass/photography.scss */
.photography .nav-links a:hover {
  color: #647eed;
  text-decoration: none;
}
/* line 39, ../sass/photography.scss */
.photography .navbar-toggler {
  border: 0;
}
/* line 43, ../sass/photography.scss */
.photography .navbar-toggler-right {
  right: 0;
}
/* line 47, ../sass/photography.scss */
.photography #wrapper {
  padding-top: 5%;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* line 52, ../sass/photography.scss */
.photography #wrapper #gallery {
  overflow: hidden;
}
/* line 54, ../sass/photography.scss */
.photography #wrapper #gallery a {
  display: block;
  float: left;
}
/* line 57, ../sass/photography.scss */
.photography #wrapper #gallery a img {
  display: block;
  border: 0;
}
/* line 61, ../sass/photography.scss */
.photography #wrapper #gallery a img:hover {
  opacity: 0.5;
}
/* line 68, ../sass/photography.scss */
.photography .footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #baac9d;
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.1em;
}
